.form {
  label {
    display: block;
    margin: 5px 0;
    font-weight: 900;
  }

  input {
    transition: 0.3s;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: 0;
    border: 2px solid $grey-color;

    &:focus {
      border: 2px solid $continue-color;
    }
  }

  fieldset {
    margin: 20px 0;
  }

  fieldset.form__actions {
    text-align: center;
  }

}
