$largest-font-size:  3.998rem;
$larger-font-size:   2.827rem;
$large-font-size:    1.999rem;
$medium-font-size:   1.414rem;
$base-font-size:     1.000rem;
$small-font-size:    0.707rem;
$smaller-font-size:  0.500rem;
$smallest-font-size: 0.354rem;
